In [1]:
# Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np
import requests
from api_keys import api_key
from scipy.stats import linregress

url = f"http://www.omdbapi.com/?apikey={api_key}&t="

In [2]:
# Read saved data
movie_data_df = pd.read_csv("../Resources/clean_movies_data_fixed.csv", index_col="imdb_id")
awards_df = pd.read_csv("../Resources/awarded_movies.csv")

# Display sample data
movie_data_df.head(3)

,Unnamed: 0,popularity,budget,revenue,original_title,cast,director,keywords,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj,profit,popularity_level
imdb_id,,,,,,,,,,,,,,,,,,,
tt0369610,0,32.985763,150000000,1513528810,Jurassic World,"'Chris Pratt', 'Bryce Dallas Howard', 'Irrfan...",Colin Trevorrow,"'monster', 'dna', 'tyrannosaurus rex', 'veloc...",124,"'Action', 'Adventure', 'Science Fiction', 'Th...","'Universal Studios', 'Amblin Entertainment', ...",6/9/2015,5562,6.5,2015,137999939,1392445892,1363528810,High
tt1392190,1,28.419936,150000000,378436354,Mad Max: Fury Road,"'Tom Hardy', 'Charlize Theron', 'Hugh Keays-B...",George Miller,"'future', 'chase', 'post-apocalyptic', 'dysto...",120,"'Action', 'Adventure', 'Science Fiction', 'Th...","'Village Roadshow Pictures', 'Kennedy Miller ...",5/13/2015,6185,7.1,2015,137999939,348161292,228436354,High
tt2908446,2,13.112507,110000000,295238201,Insurgent,"'Shailene Woodley', 'Theo James', 'Kate Winsl...",Robert Schwentke,"'based on novel', 'revolution', 'dystopia', '...",119,"'Adventure', 'Science Fiction', 'Thriller'","'Summit Entertainment', 'Mandeville Films', '...",3/18/2015,2480,6.3,2015,101199955,271619025,185238201,High